<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">Zona</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container mt-4 mb-4 t-5">
            <h1>Detalle Zona Extraccion/Inyeccion</h1>
            <div th:if="${error}">
                <p th:text="${error}" style="color: red;"></p>
            </div>
            <div class="table-responsive">

            </div>
        </div>

    </section>
</body>

</html>