<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">Transacciones</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="container-fluid mt-4 mb-4 t-5">
            <h1>Transacciones registradas en el Sistema</h1>
            <div th:if="${error}">
                <p th:text="${error}" style="color: red;"></p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-center align-middle" id="tablaTransacciones" cellspacing="0"
                    width="100%">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center align-middle" data-dt-order="disable">Operacion</th>
                            <th class="text-center align-middle">Codigo Contrato</th>
                            <th class="text-center">Cantidad Asignada Entregada</th>
                            <th class="text-center">Cantidad Asignada Recepcion</th>
                            <th class="text-center">Cantidad Nominada Entrega</th>
                            <th class="text-center">Cantidad Nominada Recepcion</th>
                            <th class="text-center">Gas en Exceso</th>
                            <th class="text-center">Cargo Gas en Exceso</th>
                            <th class="text-center">Cargo Uso</th>
                            <th class="text-center">Exceso Firme</th>
                            <th class="text-center">Uso Interrumpible</th>
                            <th class="text-center align-middle">Total a Facturar</th>
                            <th class="text-center align-middle" data-dt-order="disable">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaccion : ${transacciones}">
                            <td th:text="${transaccion.idOperacion}"></td>
                            <td
                                th:text="${transaccion.contrato != null && transaccion.contrato.codigoContrato != null ? transaccion.contrato.codigoContrato : 'SIN CONTRATO'}">
                            </td>
                            <td th:text="${transaccion.cantidadAsignadaEntrega}"></td>
                            <td th:text="${transaccion.cantidadAsignadaRecepcion}"></td>
                            <td th:text="${transaccion.cantidadNominadaEntrega}"></td>
                            <td th:text="${transaccion.cantidadNominadaRecepcion}"></td>
                            <td th:text="${transaccion.gasEnExceso}"></td>
                            <td th:text="${transaccion.cargoGasEnExceso}"></td>
                            <td th:text="${transaccion.cargoUso}"></td>
                            <td th:text="${transaccion.tarifaExcesoFirme}"></td>
                            <td th:text="${transaccion.tarifaUsoInterrumpible}"></td>
                            <td th:text="${transaccion.totalAFacturar}"></td>
                            <td>
                                <a th:href="@{/detalleTransaccion(idOperacion=${transaccion.idOperacion})}"
                                    class="btn btn-success btn-md rounded-circle" style="width: 3rem; height: 3rem;"
                                    title="Ver Detalle">
                                    <i class="bi bi-eye fs-5"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                new DataTable('#tablaTransacciones', {
                    columnDefs: [
                        { targets: "_all", className: "text-center align-middle" }
                    ],
                    lengthMenu: [25, 50, 75, -1],
                    scrollCollapse: true,
                    scrollY: '50vh',
                    paging: true,
                    dom: '<"d-flex justify-content-between align-items-center mb-3"fB>rt<"d-flex justify-content-between align-items-center mt-3"lip>'
                });
            });
        </script>

    </main>
</body>

</html>