<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thyemeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title layout:fragment="title">Transacciones</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container-fluid mt-4 mb-4 t-5">
            <h1>Transacciones registradas en el Sistema</h1>
            <div th:if="${error}">
                <p th:text="${error}" style="color: red;"></p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-center align-middle" id="myTable" cellspacing="0" width="100%">
                    <thead class="table-dark">
                        <tr>
                            <th rowspan="2" class="text-center align-middle" width="10%" data-dt-order="disable">Id Transaccion</th>
                            <th rowspan="2" class="text-center align-middle" width="10%">Codigo Contrato</th>
                            <th colspan="4" class="text-center" data-dt-order="disable">Cantidades</th>
                            <th colspan="3" class="text-center" data-dt-order="disable">Cargos</th>
                            <th colspan="2" class="text-center" data-dt-order="disable">Tarifas</th>
                            <th rowspan="2" class="text-center align-middle" width="10%">Total a Facturar</th>
                            <th rowspan="2" class="text-center align-middle" width="10%" data-dt-order="disable">Acciones</th>
                        </tr>
                        <tr>
                            <th class="text-center">Asignada Entregada</th>
                            <th class="text-center">Asignada Recepcion</th>
                            <th class="text-center">Nominada Entregada</th>
                            <th class="text-center">Nominada Recepcion</th>
                            <th class="text-center">Gas en Exceso</th>
                            <th class="text-center">Uso</th>
                            <th class="text-center">Gas en Exceso</th>
                            <th class="text-center">Exceso Firme</th>
                            <th class="text-center">Uso Interrumpible</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaccion : ${transacciones}">
                            <td th:text="${transaccion.idOperacion}"></td>
                            <td th:text="${transaccion.contrato.codigoContrato}"></td>
                            <td th:text="${transaccion.cantidadAsignadaEntregada}"></td>
                            <td th:text="${transaccion.cantidadAsignadaRecepcion}"></td>
                            <td th:text="${transaccion.cantidadNominadaEntregada}"></td>
                            <td th:text="${transaccion.cantidadNominadaRecepcion}"></td>
                            <td th:text="${transaccion.gasEnExceso}"></td>
                            <td th:text="${transaccion.cargoGasEnExceso}"></td>
                            <td th:text="${transaccion.cargoUso}"></td>
                            <td th:text="${transaccion.tarifaExcesoFirme}"></td>
                            <td th:text="${transaccion.tarifaUsoInterrumpible}"></td>
                            <td th:text="${transaccion.totalAFacturar}"></td>
                            <td>
                                <a th:href="@{/detalleTransaccion(idOperacion=${transaccion.idOperacion})}"
                                    class="btn btn-success btn-md rounded-circle" style="width: 3rem; height: 3rem;"
                                    title="Ver Detalle">
                                    <i class="bi bi-eye fs-5"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            new DataTable('#myTable', {
                lengthMenu: [10, 25, 50, -1],
                scrollCollapse: true,
                scrollY: '50vh',
                paging: true,
                dom: '<"d-flex justify-content-between align-items-center mb-3"fB>rt<"d-flex justify-content-between align-items-center mt-3"lip>',
            });

        </script>

    </section>
</body>

</html>